<div>
    <header>
        <mat-grid-list cols="2" rowHeight="45rem" class="books-page">
            <mat-grid-tile *ngIf="username">
                <mat-card class="card">
                    <mat-progress-spinner mode="indeterminate " *ngIf="bookStartInserted "></mat-progress-spinner>
                    <app-book-form (booksEmitter)=" onBooksUpdate($event) " class="container" *ngIf="!bookStartInserted "></app-book-form>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="!username">
                <mat-card class="card">
                    <auth-form (authEmitter)="onUserUpdate($event) " class="container">
                    </auth-form>
                    <reg-form (regEmitter)="onUserSignUp($event) " class="container"></reg-form>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="card">
                    <mat-progress-spinner mode="indeterminate " *ngIf="!books "></mat-progress-spinner>
                    <books-table *ngIf="books " [books]="books " [searchSubject]="searchSubject " class="container"></books-table>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </header>

</div>
