<mat-toolbar>
    <button mat-raised-button type="button" *ngIf="isUserLoggedIn|async" (click)="toggle();">{{username|async}}</button>
    <div class="empty"></div>
    <button mat-raised-button type="button" routerLink="/">
        <i class="material-icons">home</i>
    </button>
</mat-toolbar>
<mat-drawer-container hasBackdrop="true" class="page">
    <mat-drawer #drawer mode="over" class="left-drawer" *ngIf="isUserLoggedIn|async">
        <mat-card>
            <mat-card-title>
                Hello {{username|async}}
            </mat-card-title>
            <div *ngIf="(managedBooks|async) as books">
                <h3>
                    <mat-label>Your books</mat-label>
                </h3>
                <div *ngFor="let book of books; last as last">
                    <a routerLink="/{{book.name}}">{{book.name}}</a>
                    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </div>
            </div>
        </mat-card>

        <button mat-raised-button class="logout-button" type="button" (click)="logout()">Logout</button>

        <app-vk-widget></app-vk-widget>
    </mat-drawer>
    <ng-content></ng-content>
</mat-drawer-container>
