.left-drawer {
    min-width: 20rem;
    padding: 1rem;
}

.logout-button {
    margin: 1rem;
}

.page {
    min-width: 100%;
    height: 90%;
}

.empty {
    flex: 1 1 auto;
}

.vk-container {
    display: flex;

}

.vk-content {
    flex-grow: 1;
}
