.table {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    overflow: auto;
    max-height: 25rem;
}

.table th {
    text-align: center;
}

.toggle {
    padding-right: 3rem;
}
