<div class="container">
    <h4>Add new book</h4>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="form">
        <div>
            <div>
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Name of your great book!" required [(ngModel)]="name" name="title">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Book description</mat-label>
                    <textarea matInput placeholder="Description what you want!" required [(ngModel)]="simplePart" name="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Author name</mat-label>
                    <input matInput placeholder="Author of this awesome book!" required [(ngModel)]="authorName" name="authorName">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="button" (click)="fileInput.click()">Choose book file</button>
                <mat-label *ngIf="this.file">{{this.file.name}}</mat-label>
                <input hidden type="file" #fileInput (change)="onFileChange($event)" name="file" accept=" .pdf" />
            </div>

        </div>

        <div>
            <button mat-raised-button type="submit" *ngIf="!canSubmitted()" disabled="true">Submit</button>
            <button mat-raised-button type="submit" *ngIf="canSubmitted()">Submit</button>
        </div>
    </form>
</div>
