<div class="container">
    <h4>Sign in</h4>
    <form (ngSubmit)="onSubmitAuth()" id="authForm">
        <div class="form-group">
            <p>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Your awesome username" required [(ngModel)]="usernameAuth" name="username">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Cryptonit" required [(ngModel)]="passwordAuth" name="password">
                </mat-form-field>
            </p>
        </div>
        <button mat-raised-button type="submit" (disabled)="(passwordAuth && usernameAuth)?false:true">Submit</button>
    </form>
</div>
